/* Inicio de css */
body {
    background-color: rgb(201, 243, 243);
    color:darkgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 1rem;
 
h1 {
    color:rgb(87, 92, 92);
    text-align: center;
}
}
.div-principal {
    background-color: aquamarine;
    color:dimgray;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-around;

    
}

.divAncho30 {
    background-color: rgb(141, 204, 204);
    width: 30%;
    height: auto;
    margin: 1rem;
    text-align: center;
    
}

#salida1 {
    

}