body {
    background-color: aqua;
}
.hola-js {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}
.titulo-for {
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}
.titulo-forof {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}
.titulo-forin {
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}