body {
    background-color: #b9a9ff;
}

.titulo-pagina {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    color: black;

}
.titulo-while {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}
.titulo-dowhile {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    color: #003344;
}
.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-ejemplo {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}